@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

$flex: flex;
$font-family: "Roboto", sans-serif;
$margin: 0;

.products-list {
  display: $flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.products-card {
  border: 1px solid #d7d7d7;
  display: $flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
  margin: 6px;
}

.icon-star {
  padding-top: 20px;
  padding-right: 10px;
  margin-left: auto;
  cursor: pointer;
}

.products-image {
  width: 200px;
  height: 250px;
}

.products-articleNumber {
  font-family: $font-family;
  font-size: 11px;
  color: #acacac;
  margin: $margin;
}

.products-name {
  color: #80a42a;
  font-family: $font-family;
  font-size: 15px;
  margin: $margin;
}
.products-price {
  font-family: $font-family;
  font-size: 15px;
  color: black;
  font-weight: 700;
  margin: 6px;
}

.products-color {
  font-family: $font-family;
  font-size: 11px;
  color: #acacac;
  margin: $margin;
}

.products-button {
  font-family: $font-family;
  font-weight: 700;
  background: #60c882;
  color: black;
  border: none;
  cursor: pointer;
  padding: 10px 16px;
  border-radius: 20px;
  margin: 10px;
}
