.header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: black;
}

.star-icon,
.cart-icon {
  margin: 20px 0 20px 10px;
}

.star-count,
.cart-count {
  color: white;
  margin-left: 5px;
  margin-right: 10px;
}
