.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}

.modal {
  background-color: rgb(14, 13, 13);
  border-radius: 8px;
  margin: 20px;
  max-width: 80%;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.2);
  position: relative;
}

.modal-content {
  margin: 20px;
  color: white;
}
